# Build outputs
lib/
dist/
build/
icos_ext/labextension
icos_ext/_version.py

# Dependencies
node_modules/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Tool caches
.eslintcache
.stylelintcache
*.tsbuildinfo
*.bundle.*
*.log

# Misc
.DS_Store
.idea/
backup/
